
.Python
__pycache__/

# Environments
.venv

data/raw/*.csv
data/processed/*.parquet

# MLflow
mlflow.db
mlruns/

# tests
coverage.xml
.coverage

DONE.md
METAs.md
PROJECT_ANALYSIS.md

dist/
.ruff_cache
.pytest_cache

MagicMock/